#gallery {
    width: 800px;
    height: 600px;
    overflow: hidden;
} 
#gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
#gallery li {
    display: inline-block;
} 
#gallery img {
    width: 100%;
    height: 100%;
}  
.purple-button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.dark-button {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}